<div class="content">
  <div class="container">
    <h1 class="center">What is CoderDojo?</h1>
    <div class="row">
      <div class="col-sm-6">
        <h2 class="text-primary"><a href="http://coderdojo.com" target="_blank">CoderDojo</a> is a volunteer led, global collaboration of free and open programming clubs, teaching youth ages 7-17 about technology.</h2>
    		<p>CoderDojo originated in Ireland, June of 2011. Co-founders <a target="_blank" href="http://coderdojo.com/about-us/key-people">James Whelton and Bill Liao</a> brought the international movement to life based on an after school computer club model.</p>
    		<p>Organizers of CoderDojo believe that learning to code is a basic 21st century skill all children should acquire. Learning to code helps develop critical thinking and problem solving skills, as well as develop an understanding of the systems and utilities we use in our everyday lives. More so, computer programming is a language skill, and is best learned at a young age. Kids who learn to code early can become digital natives and programming poets!</p>
    		<p>Also, watching your unique ideas come alive on a computer, and coding with friends is fun!</p>
      </div>
      <div class="col-sm-6">
        <h2><%= image_tag("http://coderdojosv.com/static/Carousel8.jpg", :alt => "Kids coding") %></h2>
      </div>
    </div>
  </div>
</div>