<div id="bigbanner" class="docute goway">
    <div id="homebanner">
        <div class="container">
            <h1>Donations come in all sizes.</h1>
            <h2>And so do our participants.</h2>
            <div class="popbox">
                <p class="center">Tax-deductible donations can be made to CoderDojo Silicon Valley through our fiscal sponsor.</p>
                <div class="arrow"></div>
            </div>
            <form id="emailgo" class="form-inline" style="width:388px;">
                <%= link_to image_tag("sponsors/SVEF.jpg", :alt => "SVEF"), "http://svefoundation.org" %>
                <a class="btn btn-square btn-lg btn-success supbutton" id="bycheck">By Check</a>
                <a class="btn btn-square btn-lg btn-default supbutton" id="online">Online</a>
            </form>
        </div>
    </div>
    <div class="content">
        <div class="container bigo">
            <p>90% of all donations go directly to CoderDojo Silicon Valley programs at Mountain View and Campbell locations. SVEF retains 10% as compensation for donation processing and tax reporting services.</p>
            <p>If you donate online, an additional 5% is applied towards PayPal/credit card fees.</p>
        </div>
    </div>
</div>

<div class="content" id="checkwin" style="height:723px; display:none;">
    <br/>
    <div class="container">
        <h1>By Check</h1>
        <div style="max-width: 500px;" class="prettybox">
            <h4>Make check payable to:</h4>
            <pre>Silicon Valley Education Foundation</pre>
            <h4>In the memo line of your check, please include the following:</h4>
            <pre>FBO/CoderDojo Silicon Valley</pre>
            <h4>Mail checks to:</h4>
            <pre>CoderDojo Silicon Valley
PO BOX 20927
San Jose CA 95160</pre>
            <hr/>
            <button class="backbtn btn btn-default btn-square">Return</button>
        </div>
    </div>
</div>

<div class="content" id="owin" style="display:none; height:723px;">
    <br/>
    <div class="container">
        <h1>Online</h1>
        <div style="max-width: 500px;" class="prettybox">
            <p>Use the SVEF online donation form. Select:</p>
            <pre>I prefer to donate a different amount</pre>
            <p>In the Comments/Cause section of the form, please include the following: </p>
            <pre>FBO/CoderDojo Silicon Valley</pre>
            <p>If your employer matches contributions, enter their name in the section on the form: </p>
            <pre>Employer's Name</pre>
            <hr/>
            <span class="pull-right"><button class="btn btn-success btn-square gbtn">Donate</button></span> <button class="backbtn btn btn-default btn-square">Return</button>
        </div>
    </div>
</div>

<div class="modal fade modal-square" id="aForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Off-Site Link</h4>
            </div>
            <div class="modal-body">
                <%= image_tag("woah.png", :alt => "Ninja") %>
                <p>You are now being redirected to the SVEF online donation form.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-square btn-success" id="btno">Continue</button>
                <button class="btn btn-square btn-default" data-dismiss="modal">No, thanks</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(function() {
        $("#supPopover").animate({
            left: $('#homebanner #emailgo').offset().left+49,
            top: $('#homebanner #emailgo #bycheck').offset().top-99
        }, 0);
        $( window ).resize(function() {
            $("#supPopover").animate({
                left: $('#homebanner #emailgo').offset().left+49,
                top: $('#homebanner #emailgo #bycheck').offset().top-99
            }, 0);
        });
    });
    $("#bycheck").click(function() {
        $(".goway").fadeOut(1000);
        setTimeout(function() {
            $("#checkwin").fadeIn(1000);
        }, 1000);
    });
    $("#online").click(function() {
        $(".goway").fadeOut(1000);
        setTimeout(function() {
            $("#owin").fadeIn(1000);
        }, 1000);
    });
    $(".backbtn").click(function() {
        $("#checkwin").fadeOut(1000);
        $("#owin").fadeOut(1000);
        setTimeout(function() {
            $(".goway").fadeIn(1000);
        }, 1000);
    });
    $(".gbtn").click(function(e) {
        e.preventDefault();
        $('#aForm').modal();
    });
    $("#btno").click(function(e) {
        $('#aForm').modal("hide");
        window.open("http://svefoundation.org/svefoundation/donate/");
    });
</script>