<div id="homebanner">
	<div class="container">
  	<h1>Teaching the next generation to design and code</h1>
    <h2>Mountain View and Campbell</h2>
    <form id="emailgo" class="form-inline">
      <a class="btn btn-square btn-lg btn-success supbutton">Join now</a>
      <div id="supPopover" class="popover popover-square fade top in" style="display: block;">
        <div class="arrow"></div>
        <h3 class="popover-title" style="display: none;"></h3>
        <div class="popover-content center">
          Sign up to get event announcements and/or volunteer to help
        </div>
      </div>
    </form>
  </div>
</div>

<div class="content">
  <div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><a href="#whatis" data-toggle="tab">What are we?</a></li>
      <li><a href="#giv" data-toggle="tab">How can I help?</a></li>
      <li><a href="#sponsors" data-toggle="tab">Our sponsors</a></li>
      <li><a href="#news" data-toggle="tab">In the news</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="whatis">
        <div class="row">
          <div class="col-sm-6">
            <h2><%= image_tag("toptab1.jpg", :alt => "Kids coding") %></h2>
          </div>
          <div class="col-sm-6">
            <h2 class="text-primary">CoderDojo Silicon Valley teaches programming languages to youth, ages 7-17.</h2>
            <p>Located at independently run dojos in Mountain View and Campbell, California, CoderDojo Silicon Valley is a Bay Area instance of <a href="http://www.coderdojo.com" target="_blank">CoderDojo</a>, a global collaboration of <em>free</em> and open programing clubs run by enthusiastic volunteers. At CoderDojos around the world, young people, along with parents and mentors, learn how to code, develop websites, make apps, program games and more!</p>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="giv">...</div>
      <div class="tab-pane" id="sponsors">...</div>
      <div class="tab-pane" id="news">...</div>
    </div>
  </div>
</div>

<div class="content alter">
  <div class="container">
    <h1 class="center">When are our sessions?</h1>
    <h2 class="center text-muted">All of them and more.</h2>

    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;height=480&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=coderdojo.com_i2hvg0bvac6p25fnot2t5mpkss%40group.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="100%" height="480" frameborder="0" scrolling="no"></iframe>
  </div>
</div>

<div class="content">
  <div class="container">
    <h1 class="center">Where can I find past projects?</h1>
    <h2 class="center text-muted">Right here.</h2>
    <div id="peep"></div>
    <p><%= link_to "See more >>>", past_projects_url %></a></p>
  </div>
</div>

<div class="content alter" id="tfooter">
  <div class="container">
    <h2 class="center">Interested? &nbsp;<a class="btn btn-square btn-lg btn-success supbutton">Join now</a></h2>
  </div>
</div>

<script>
$(function() {
  $.get("https://api.github.com/search/repositories", {"q":"user:CoderDojoSV", "sort":"updated"}, function(d) {
    for (var i = 0; i < 5; i++) {
      var date = d.items[i].pushed_at.substring(5, 10) + "-" + d.items[i].pushed_at.substring(2, 4);
      $("#peep").append("<h2><a href='" + d.items[i].html_url + "'>" + d.items[i].name + "</a></h2>");
      $("#peep").append("<p class='text-muted'>" + d.items[i].description + " <span class='badge badge-square'>" + date + "</span></p>");
    };
  });
});
$(function() {
  $("#homebanner h2").css("margin-bottom", $(window).height()-250-$("#homebanner h2").height());
  $("#supPopover").animate({
    left: $('#homebanner #emailgo .btn').offset().left-85,
    top: $('#homebanner #emailgo .btn').offset().top-68
  }, 0);
  $( window ).resize(function() {
    $("#homebanner h2").css("margin-bottom", $(window).height()-250-$("#homebanner h2").height());
    $("#supPopover").animate({
      left: $('#homebanner #emailgo .btn').offset().left-85,
      top: $('#homebanner #emailgo .btn').offset().top-68
    }, 0);
  });
  $('.btn.supbutton').click(function() {
    $('#signupForm').modal()
  });
});
</script>