<br>
<div class="content">
    <div class="container">
        <h1 class="center">Please wait while we are loading the form.</h1>
    </div>    
</div>

<script>
    location = "http://members.coderdojosv.org/addmember";
</script>