<video controls autoplay='true' style='width: 100%; height: 100%;' src='https://dl.dropbox.com/s/cnwu2jsp7mkcd6y/CDSVMovie.mp4'><p>Sorry, your device can't play this video.</p><small>H.264-compatible browser needed</video></video><script>$(function () {video = $('video').get()[0];video.addEventListener('loadeddata', function() {video.play();});});</script>
    
    <!--var winHeight = $(window).height();$('video').css({'height': winHeight, 'width': '100%'});-->