<div class="content">
    <div class="container">
        <div class="center">
            <span class="spanhxs"><%= image_tag "404.png", :alt => "Sorry, this page doesn't exist. Why not try re-typing the URL?" %></span>
            <div class="visible-xs"><br><br><%= image_tag "MAK_1.png", :alt => "" %> Sorry, this page doesn't exist. Why not try re-typing the URL?</div>
        </div>
        <small style="color:lightgrey;">MAK is a character of iProductions, and is used with permission.</small>
    </div>
</div>