// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@media (max-width:767px) {
    .spanhxs {display:none;}
    ul{padding-start:20px!important;-webkit-padding-start:20px!important;-moz-padding-start:20px!important;-o-padding-start:20px!important;-ms-padding-start:20px!important;}
}

/*-------layout-------*/

.navbar-brand img {
    height: auto;
    max-width:190px;
}

#everything {background-color:white;z-index:1;}
body {background-color:white; box-shadow: 0 0 5px 2px #000;}

.navbar-right {
    margin-top: 17px;
}

.carousel-inner img {width: 100%;}

.navbar-toggle {margin-top: 20px;}

#body {
    margin-top: 66px;
}

body {max-width:1280px;margin:0 auto;overflow-x:hidden;}

//.table > tbody > tr > td {border-top: 0px solid #fff;}

.navbar {
    max-width:1280px;margin:0 auto;overflow-x:hidden;
}

.center {text-align: center;}

#cal {
    max-width: 100%;
    max-height: 100%;
    height: 500px;
    width: 100%;
}

#emailgo img {
    height: 45px;
    margin-right: 5px;
}

/*-------banner-------*/

#homebanner {
    padding-top: 20px;
    padding-bottom: 20px;
}

#bigbanner {
    background: url('/assets/toptab1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    p,h4{margin-bottom:30px;margin-top: 20px;}
}

/*'http://www.placekitten.com/1402/1000'*/

.container.bigo {background-color: rgba(227, 233, 255, 0.80); max-width: 940px; a{color: #1A7A25;} p{font-weight:400;}}

.bigo img {height: 25px;margin-right:2px;}

.docute#bigbanner {background: url('/assets/cutedonate.jpg') no-repeat center -220px; background-size: auto 1700px; .container.bigo{background-color: rgba(227, 233, 255, 0.67);}}

#checkwin {background: url('/assets/cutedonate2.jpg') no-repeat center -220px; background-size: auto 1700px;}
#owin {background: url('/assets/cutedonate2.jpg') no-repeat center -220px; background-size: auto 1700px;}

#homebanner {text-align: center;}

#bigbanner h1, #bigbanner h2 {
    color: #FFF;
    text-shadow: 0 1px 1px #000;
}

#homebanner h1{margin-top: 50px; font-weight: 300;}
#homebanner h2{margin-bottom: 450px; font-weight: 300;}

#signupForm .icheckbox_square-green, #signupForm .iradio_square-green {margin-right: 10px;}

#emailgo {
    padding: 15px;
    background: #FFF;
    border-radius: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    width: 136px;
    margin: 0 auto;
}

h1, h2 {font-family:"Roboto";}
h1 {font-size: 3em;}

p {
    font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 300;
}

ul{padding-start:0px;-webkit-padding-start:0px;-moz-padding-start:0px;-o-padding-start:0px;-ms-padding-start:0px;}

h2 {
    font-weight: 300;
    font-size: 20pt;
}

#bigbanner .popover-content p {font-size:17px; font-weight:400; margin-bottom:0px;margin-top:0px;}

/*--------content------*/

.content .container {margin-bottom: 20px; margin-top: 20px;}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

.content .container h1 {margin-bottom: 40px;}

.row img {
    width: 100%;
}

.content .container.bigo {margin-bottom: 0px;}

.box {
    background-color: hsla(143, 43%, 75%, 0.4);
    //background: url('/assets/cutedonate2.jpg') no-repeat center center;
    border: 1px solid #ddd;
    width: 100%;
    padding: 10px;
    height: 250px;
    h4 {font-family: "Quicksand", "Impact", sans-serif; font-size:3em; font-variant:small-caps;}
    text-align:center;
    margin-bottom: 15px;
}

.prettybox {
    background-color: hsla(0, 0%, 100%, 0.64);
    padding: 10px;
    p {font-weight: 400;}
}

.bigreen{border-bottom: 1px solid green;}

.bigreen .container {
    margin-top: 20px;
    //box-shadow: 0px -5px 26px -10px rgba(0, 0, 0, 0.4);
    padding-top: 20px;
    padding-bottom: 20px;
    //background-color: #edf2f5;
    position: relative;
    .arrow {
        top: -21px;
        left: 50%;
        margin-left: -11px;
        border-color: transparent;
        //border-bottom-color: #edf2f5;
        border-bottom-width: 0;
        border-width: 11px;
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
    }
    h4 {
        font-family: "Quicksand", "Impact", sans-serif; font-size:3em; font-variant:small-caps;
        font-weight:300;
    }
}

.carousel-indicators li{width:16px;height:16px;margin:1px 5px}
.carousel-indicators li.active{margin:0 5px;width:18px;height:18px}

/*--------footer------*/
footer {
    padding-top: 5px;
    background-color: #292929;
    color: #999999;
    height: 100%;
}

footer .container a {
    margin-left: 10px;
    color: #999;
}

footer img {height: 32px;}

footer #ftext {margin-top: 5px;}

/*---------sponsors----------*/

.sponsorcontainer {width: 100%; height: 200px; text-align: center; /*vertical-align: middle; display: table-cell;*/}

.sponsorcontainer img {
    width: auto;
    max-width: 100%;
    max-height: 100px;
}

table#odonors td img {
    height: 50px;
    width: auto;
    max-width: 200px;
}

table#odonors td {
    width: 200px;
    text-align: center;
}

.modal-body img {
    width: 100px;
    height: auto;
}

div.center table {
    margin: 0 auto; 
    text-align: left;
}

.fullwid {
    width: 100%;
    max-width: 360px;
}

@media all and (max-width: 768px) {
    #sponsorRow {margin-top: 50px;}
    #sponsorRow .col-sm-4 .sponsorcontainer {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
#bigbanner #supPopover.popover {max-width: 290px; width: 100%;}